# Virtual Environment
.venv/
venv/
ENV/

# PyCharm files
.idea/
*.iml
*.iws
.idea_modules/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Local development settings
.env
.env.local

# Testing
.coverage
htmlcov/
.pytest_cache/

# Logs
*.log

# Scratches and Consoles (específico de PyCharm)
.scratches/